/* Edit Profile */

#profile-image-container {
    width: 150px;
    height: 150px;
    border: 6px solid #f5c518;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
    margin: 15px auto;
  }
  
  #profile-image-container.review-image {
    width: 80px;
    height: 80px;
  }
  
  .page-description {
    color: #e2dcdc;
  }
  
  #bio {
    max-width: 400px;
  }
  
  .disabled {
    background-color: #c9c5c5 !important;
  }
  
  #change-password-container {
    margin-top: 30px;
  }


  .edit-profile-page .card-btn {
    width: auto;
  }