 /* New Movie */
 .new-movie-container {
    text-align: center;
  }
  
  #add-movie-form {
    text-align: left;
  }
  
  .movie-image-container {
    height: 400px;
    min-width: 200px;
    background-position: center;
    background-size: cover;
  }
  
  .page-title:after {
    content: "";
    width: 300px;
    border-bottom: 2px solid #f5c518;
    display: block;
    margin: 0 auto;
    padding-top: 7px;
  }